@charset "utf-8";

@import '_variables';
@import '_base';

@import url("https://use.typekit.net/bvf7soa.css");

// canvas {
//     display: block;
//     position: fixed;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     z-index: -999;
// }

html {
    visibility: hidden;
}

html.wf-active {
    visibility: visible;
}

body {
  background-color: black;
}

.page-enter {
   opacity: 0;
 }
 .page-enter-active {
   transition: opacity 2s;
 }